404.html
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Тайтл</title>
<link rel="stylesheet" href="css/main.css">
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" ></script>
</head>
<body>
<div class="site_wrapper">
<div class="header inner_head_contact">
<div class="block_inner">
<div class="logo">
<a href="#">
<img src="images/logo.png" alt="">
</a>
</div>
<div class="sos_block">
<a href="">
<img src="images/vk.png" alt="">
</a>
<a href="">
<img src="images/tg.png" alt="">
</a>
</div>
<div class="menu_top_header">
<ul>
<li>
<a href="">О нас</a>
</li>
<li>
<a href="">Услуги</a>
</li>
<li>
<a href="">Контакты</a>
</li>
</ul>
</div>
<div class="contacts">
<div class="phone">
<a href="tel:+7 (499) 660-90-60">+7 (499) 660-90-60</a>
</div>
<div class="call_btn">Заказать звонок</div>
</div>
<div class="burger"></div>
</div>
</div>
<div class="content_block_wr"><div class="block_404" data-title="not found">
<div class="block_inner">
<div class="title">Страница не найдена</div>
<div class="img">
<img src="images/404.png" alt="">
</div>
<div class="text">Такой страницы не существует</div>
<a href="/" class="btn">Вернуться на главную</a>
</div>
</div></div>
<div class="footer">
<div class="block_inner">
<div class="logo">
<a href="#">
<img src="images/logo.png" alt="">
</a>
</div>
<div class="footer_text">
<div class="inner">Здесь написать об ИП Романов текст, которые нацелены на разработку программного обеспечения с нуля вместо покупки и расширения готового коммерческого продукта. Наши заказчики и проекты очень разные.</div>
</div>
<div class="contacts">
<div class="phone">
<a href="tel:+7 (499) 660-90-60">+7 (499) 660-90-60</a>
</div>
<div class="sos_block">
<a href="">
<img src="images/vk.png" alt="">
</a>
<a href="">
<img src="images/tg.png" alt="">
</a>
</div>
</div>
</div>
</div>
</div>
<script src="js/main.js" async></script>
</body>
</html>

includes/404.jade
include _header_inner.jade
	<div class="block_404" data-title="not found">
		<div class="block_inner">
			<div class="title">Страница не найдена</div>
			<div class="img">
				<img src="images/404.png" alt="">
			</div>
			<div class="text">Такой страницы не существует</div>
			<a href="/" class="btn">Вернуться на главную</a>
		</div>
	</div>
include _footer.jade
